:root {
  --body-color: rgba(210, 224, 224, 0.5);
  --paragraph-color: #999;
  --main-color: #1112fa;
  --gray: #333;
}

* {
  font-family: "Roboto";
}
img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--body-color);
}

.sec-head h1 {
  border-bottom: 1px solid var(--paragraph-color);
  padding-bottom: 10px;
  width: fit-content;
}
.sec-head p {
  color: var(--paragraph-color);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}

header ul li {
  border: none !important;
  background-color: transparent !important;
  font-size: 10px;
  font-weight: 500;
  color: #333 !important;
  display: block;
  transition: 0.5s;
}
header ul li:hover {
  color: var(--main-color) !important;
  margin-top: -2px;
}
hr {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 0 auto;
}

.hero-section div {
  height: 350px;
  position: relative;
}

.hero-section .text {
  flex-basis: 57%;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.hero-section > div:last-child::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.1;
  border-radius: 50%;
}

.hero-section img {
  border-radius: 50%;
  object-fit: contain;
}

.hero-section .text .color {
  color: var(--main-color);
}
.hero-section .text p {
  color: #777;
}
.hero-section .text button {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--main-color);
  opacity: 0.8;
  transition: 0.3s;
  color: white;
  border: none;
  margin-top: 40px;
}
.hero-section .text button:hover {
  opacity: 1;
}

.hero-section .text ul {
  width: 50%;
}

.story-line {
  padding: 0 10px;
  border-left: 2px solid var(--paragraph-color);
}

.story-line .box {
  padding: 10px;
  position: relative;
  background-color: var(--paragraph-color);
  margin-bottom: 10px;
}
.story-line .box::after {
  content: "";
  width: 10px;
  height: 10px;
  left: -16px;
  top: 50%;
  transform: rotate(45deg);
  position: absolute;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
}

.story-line .box h3 {
  color: #fff;
}
.story-line .box p {
  color: #333;
  padding-left: 10px;
}

.statsBox > div {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.statsBox .stats-bars .bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  gap: 20px;
  flex-basis: 40%;
  margin: 10px;
}
.statsBox .stats-bars .bar .text {
  display: flex;
  color: #777;
  justify-content: space-between;
}
.statsBox .stats-bars .bar .text .percent {
  color: var(--main-color) 80;
}
.statsBox .stats-bars .barbar {
  width: 100%;
  height: 5px;
  position: relative;
  background-color: var(--paragraph-color);
  border-radius: 2px;
}
.statsBox .stats-bars .barbar div {
  height: 5px;
  width: attr(data-bar);
  position: absolute;
  left: 0;
  border-radius: 2px;
  top: 0;
  background-color: var(--main-color) 80;
}
.statsBox .capeable {
  border-left: 2px solid var(--paragraph-color);
}
.statsBox .capeable .text {
  color: var(--paragraph-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.statsBox .capeable > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.statsBox .capeable > div div {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 50px;
  color: #777;
}

.projects-box {
  flex-wrap: wrap;
  gap: 50px;
}

.projects-box .project {
  flex-basis: 45%;
  border: 1px solid var(--paragraph-color);
  border-radius: 6px;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
}
.projects-box .project .img-fluid {
  width: 100%;
  height: 200px;
}
.projects-box .project .text {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.projects-box .project .text h4 {
  color: #777;
}
.projects-box .project .text p {
  color: var(--paragraph-color);
  font-size: 14px;
}
.projects-box .project .text button {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  transition: 0.4s;
}
.projects-box .project .text button:hover {
  filter: brightness(1.1);
}

.jobs {
  border: 1px solid var(--paragraph-color);
  border-radius: 6px;
}
.zero {
  text-align: center;
}
.zero h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
.zero p {
  color: #555;
  margin-bottom: 15px;
}
.zero button {
  color: white;
  background-color: var(--main-color);
  filter: brightness(0.9);
}
.zero button:hover,
.contactForm button:hover {
  background-color: var(--main-color);
  color: white;
  filter: brightness(1.1);
}

.contactForm {
  width: 80%;
}
.contactForm input,
.contactForm textarea {
  border: 1px solid var(--paragraph-color);
  border-radius: 6px;
  margin-bottom: 15px;
}
.contactForm button {
  background-color: var(--main-color);
  color: white;
}

.person .content {
  gap: 20px;
}
.person .content > div {
  flex-basis: 50%;
}
.person .content .strengths {
  position: relative;
}
.person .content .strengths::after {
  height: 100%;
  content: "";
  width: 5px;
  position: absolute;
  top: 0;
  right: -10px;
  border-radius: 6px;
  border: 2px solid #999;
}
.person .content .point {
  position: relative;
  border: 1px solid;
  padding: 10px;
  background-color: #f2f2f2;
  margin: 10px;
  border-radius: 6px;
}
.person .content .strength {
  border-color: #1112fa;
}
.person .content .weakness {
  border-color: #fa1111;
}
.person .content .strengths .point::after,
.person .content .weaknesses .point::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  z-index: 10;
  border-radius: 50%;
  top: 9%;
  border: 2px solid;
}

.person .content .strengths .point::after {
  right: -23.5px;
  border-color: #1112fa;
}

.person .content .weaknesses .point::after {
  left: -28px;
  border-color: #fa1111;
}
